$tulipes_black: #262626;
$tulipes_grey: #f2f2f2;
$tulipes_blue: #193dc5;
$tulipes_darker_blue: #121b9d;
$tulipes_green: #49f9c4;
$tulipes_darker_green: #23e2a2;
$tulipes_yellow: #fffd38;
$tulipes_darker_yellow: #ffe12e;
$tulipes_pink: #ffa5a5;
$tulipes_darker-pink: #f47676;
