@font-face {
  font-family: "Libre Baskerville";
  src: url("/static/assets/fonts/LibreBaskerville-Regular.ttf?") format("ttf");
}
@font-face {
  font-family: "Libre Baskerville";
  font-style: italic;
  src: url("/static/assets/fonts/LibreBaskerville-Italic.ttf?") format("ttf");
}
@font-face {
  font-family: "Libre Baskerville";
  font-weight: bold;
  src: url("/static/assets/fonts/LibreBaskerville-Bold.ttf?") format("ttf");
}
